---
layout: default
---

{% include projects.html %}

Hi there and welcome to my porfolio website 😊

Why not try clicking on the "About" link on the top of the page to find out more about who I am and what I do.
<a href="https://example.com">
  <img src="https://media.istockphoto.com/id/1501348253/photo/golden-retriever-and-british-shorthair-cat-lying-together-under-blanket.webp?b=1&s=170667a&w=0&k=20&c=xkZG8SuK0fhVQ-TZzwu9iR9Rh8OcpMBIqcThhSkv-ZA=" alt="Golden Retriever and British Shorthair Cat under a blanket">
</a>
